In [1]:
import numpy as np

### 연습문제 1
NumPy를 사용하여 다음과 같은 행렬을 만든다.

10 20 30 40  
50 60 70 80

### 연습문제 2
다음 행렬과 같은 행렬이 있다.

In [2]:
m = np.array([[ 0,  1,  2,  3,  4],  
              [ 5,  6,  7,  8,  9],  
              [10, 11, 12, 13, 14]])

1) 이 행렬에서 값 7 을 인덱싱한다.

2) 이 행렬에서 값 14 을 인덱싱한다.

3) 이 행렬에서 배열 [6, 7] 을 슬라이싱한다.

4) 이 행렬에서 배열 [7, 12] 을 슬라이싱한다.

5) 이 행렬에서 배열 [[3, 4], [8, 9]] 을 슬라이싱한다.

### 연습문제 3
다음 행렬과 같은 배열이 있다.

In [4]:
x = np.array([1, 2, 3, 4, 5, 6, 7, 8, 9, 10,
              11, 12, 13, 14, 15, 16, 17, 18, 19, 20])

1) 이 배열에서 3의 배수를 찾아라.

2) 이 배열에서 4로 나누면 1이 남는 수를 찾아라.

3) 이 배열에서 3으로 나누면 나누어지고 4로 나누면 1이 남는 수를 찾아라.

### 연습문제 4
지금까지 공부한 명령어를 사용하여 다음과 같은 배열을 만들어라.

array([  
[   0.,    0.,    0.,    1.,    1.],  
       [   0.,    0.,    0.,    1.,    1.],  
       [   0.,    0.,    0.,    1.,    1.],  
       [  10.,   20.,   30.,   40.,   50.],  
       [  60.,   70.,   80.,   90.,  100.],  
       [ 110.,  120.,  130.,  140.,  150.],  
       [   0.,    0.,    0.,    1.,    1.],  
       [   0.,    0.,    0.,    1.,    1.],  
       [   0.,    0.,    0.,    1.,    1.],  
       [  10.,   20.,   30.,   40.,   50.],  
       [  60.,   70.,   80.,   90.,  100.],  
       [ 110.,  120.,  130.,  140.,  150.]  
       ])

### 연습 문제 5
실수로 이루어진 5 x 6 형태의 데이터 행렬을 만들고 이 데이터에 대해 다음과 같은 값을 구한다.  
1) 전체의 최댓값

2) 각 행의 합

3) 각 열의 평균

### 연습문제 6
다음 배열은 첫번째 행(row)에 학번, 두번째 행에 영어 성적, 세번째 행에 수학 성적을 적은 배열이다.  
영어 성적을 기준으로 각 열(column)을 재정렬하라.

array([  
[  1,    2,    3,    4],  
       [ 46,   99,  100,   71],  
       [ 81,   59,   90,  100]  
       ])