In [6]:
import pandas as pd
import numpy as np

### 연습 문제 1

#### 1) 임의로 두 개의 시리즈 객체를 만든다.
모두 문자열 인덱스를 가져야 하며 두 시리즈에 공통적으로 포함되지 않는 라벨이 있어야 한다.

#### 2) 위에서 만든 두 시리즈 객체를 이용하여 사칙 연산을 한다.

### 연습 문제 2
1) 다음 조건을 만족하는 임의의 데이터프레임을 하나 만든다.  
- 열의 갯수와 행의 갯수가 각각 5개 이상이어야 한다.
- 열에는 정수, 문자열, 실수 자료형 데이터가 각각 1개 이상씩 포함되어 있어야 한다.

### 연습 문제 3
다음 데이터프레임에서 지정하는 데이터를 뽑아내거나 처리하라.

In [3]:
data = {
    "국어": [80, 90, 70, 30],
    "영어": [90, 70, 60, 40],
    "수학": [90, 60, 80, 70],
}
columns = ["국어", "영어", "수학"]
index = ["춘향", "몽룡", "향단", "방자"]
df = pd.DataFrame(data, index=index, columns=columns)

1) 모든 학생의 수학 점수를 시리즈로 나타낸다.

2) 모든 학생의 국어와 영어 점수를 데이터 프레임으로 나타낸다.

3) 모든 학생의 각 과목 평균 점수를 새로운 열로 추가한다.

4) 방자의 영어 점수를 80점으로 수정하고 평균 점수도 다시 계산한다.

5) 춘향의 점수를 데이터프레임으로 나타낸다.

6) 향단의 점수를 시리즈로 나타낸다.

### 연습 문제 4
1) 모든 행과 열에 라벨을 가지는 5 x 5 이상의 크기를 가지는 데이터프레임을 만든다.

2) 10가지 이상의 방법으로 특정한 행과 열을 선택한다.

### 연습 문제 5
다음 명령으로 타이타닉호 승객 데이터를 데이터프레임으로 읽어온다.  
이 명령을 실행하려면 seaborn 패키지가 설치되어 있어야 한다.

In [4]:
import seaborn as sns
titanic = sns.load_dataset("titanic")

1) 타이타닉호 승객 데이터의 데이터 값을 각 열마다 구해본다.

2) 타이타닉호 승객중  
성별(sex) 인원수, 나이별(age) 인원수, 선실별(class) 인원수, 사망/생존(alive) 인원수를 구하라.

3) 타이타닉호 승객을 사망자와 생존자 그룹으로 나누고 각 그룹에 대해  
'미성년자', '청년', '중년', '장년', '노년' 승객의 비율을 구한다.  
각 그룹 별로 비율의 전체 합은 1이 되어야 한다.

In [5]:
bins = [1, 15, 25, 35, 60, 99]
labels = ["미성년자", "청년", "중년", "장년", "노년"]